@import url("https://use.typekit.net/xtb6utt.css");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

html {
    box-sizing: border-box;
    vertical-align: top;
    height:100%
}

*, * ::before, * ::after {
    box-sizing:inherit
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, aside, big, cite, code, del, dfn, em, font, hr, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, input, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, header, footer {
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
    background: transparent;
    border: 0;
    box-sizing: border-box;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align:top
}

body {
    background-color: transparent;
    line-height: 1;
    overflow-x: hidden;
    padding:0px
}

ul {
    list-style:none
}

ol {
    list-style: decimal;
    list-style-position:inside
}

blockquote, q {
    quotes:none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content:none
}

:focus {
    outline:0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type="submit"], input[type="button"], textarea, button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance:none
}

del {
    text-decoration:line-through
}

table {
    border-collapse: collapse;
    border-spacing:0
}

aside, section {
    box-sizing:border-box
}

hr {
    display: block;
    height:1px
}

html {
    font-family: "PT Sans", Helvetica, Arial, Sans-serif;
    font-size:18px
}

a {
    color:#689671
}

p, ul, ol {
    font-size: 1rem;
    line-height: 1.5;
    padding:.1em
}

li {
    list-style-position:outside
}

ol, ul {
    margin-left:1.25em
}

ul li {
    list-style:circle
}

h1, h2, h3, h4, h5 {
    font-family: bebas-neue, Courier, Serif;
    padding:.1em
}

h1 {
    font-size:2rem
}

h2 {
    font-size: 1.5rem;
    margin-top:1em
}

h2 a, h2 span {
    font-size:.7em
}

h2 a {
    background-color: #f2f2f2;
    display: inline-block;
    margin-right: .1em;
    padding: .2em;
    text-align: center;
    width:2em
}

h3 {
    font-size:1rem;
    margin-top: 1em;
}

body {
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 1em;
    position:relative
}

strong {
  font-weight: bold;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
/*   max-width: 800px; */
  margin: 1em auto;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
}
header img {
  width: 200px;
}
/*
header {
    background-color: white;
    box-shadow: 0 0 8px lightgray;
    height: 80px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:3
}
*/

header > div {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    position:relative
}

main, nav {
    background-color: white;
    padding: .5em;
    z-index:2
}

nav {
    width:33%
}

nav ul {
    margin-left:0
}

nav ul li {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 0 5px;
    list-style: none;
    padding:.2em .2em
}

nav ul li a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-decoration:none
}

nav ul li a span {
    display:inline-block
}

nav ul li a span:first-child {
    background-color: #F2F2F2;
    color: black;
    font-family: bebas-neue, Courier, Serif;
    margin-right: .25em;
    text-align: center;
    width:20%
}

nav ul li a span:last-child {
    width:80%
}

nav ul li.current {
    background-color: #F2F2F2;
    border-color:black
}

nav ul li ul {
    font-size: .8em;
    margin-left:20%
}

nav ul li ul li {
    padding-left:0
}

nav ul li ul li.current {
    background-color: black;
    border-color: transparent;
    color:white
}

nav > ul > li {
    border-bottom:1px solid gray
}

main {
    width: 67%;
    z-index:2
}

footer {
    bottom: 0;
    height: 80px;
    left: 0;
    padding-top: 1em;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index:1
}

#skip_nav_link {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width:1px
}

#ops_search {
    max-width: 300px;
    position: absolute;
    right: 5px;
    top: 5px;
    width:50%
}

#ops_search > div {
    position:relative
}

#ops_search input {
    border: 1px solid gray;
    font-size: 1.5em;
    padding: .25em;
    width: 100%;
    z-index:4
}

.header-link {
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 5px;
    margin-top:.5em
}

.homepage-banner-image {
    display: block;
    margin-bottom: 1em;
    max-width:100%
}

/*
img {
    padding: .25em;
    box-shadow: 0 0 10px #ccc;
    width: 100%;
    margin-bottom: 1em
}
*/

